<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Trey Weldon's <%= title %> page</p>
    <a href="./skills/">View all Skills</a>
  </body>
</html>
