body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(20, 0, 110);
}

a {
  color: lightblue;
}

h1, h3, p {
  color: white;
}

li {
  color: white;
}

button {
  background-color: lightblue;
  color: rgb(20, 0, 110);
  border-radius: 15px;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

li {
  list-style: none;
}