body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(20, 0, 110);
}

a {
  color: lightblue;
}

h1, h3 {
  color: white;
}

li {
  color: white;
}